.business_listing_tile {
    display: inline-block;
    background: #b4b4b4;
    margin: 5px;
    padding: 6px;
    float:left;
    min-width: 300px;
    max-width: 600px;
    height: 120px;
    color: #237cc9;
    border: 1px solid rgba(243, 255, 255, 0.33);
    border-radius: 8px;
}
.business_listing_tile em {
    color: #ffffff;
}

#businessListing li {
    margin-left: 0;


}

#businessListing {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
}